#wpbody-content #dashboard-widgets.columns-1 .postbox-container {
	width: 100%;
}

#wpbody-content #dashboard-widgets.columns-2 .postbox-container {
	width: 49.5%;
}

#wpbody-content #dashboard-widgets.columns-2 #postbox-container-2,
#wpbody-content #dashboard-widgets.columns-2 #postbox-container-3,
#wpbody-content #dashboard-widgets.columns-2 #postbox-container-4 {
	float: right;
	width: 50.5%;
}

#wpbody-content #dashboard-widgets.columns-3 .postbox-container {
	width: 33.5%;
}

#wpbody-content #dashboard-widgets.columns-3 #postbox-container-1 {
	width: 33%;
}

#wpbody-content #dashboard-widgets.columns-3 #postbox-container-3,
#wpbody-content #dashboard-widgets.columns-3 #postbox-container-4 {
	float: right;
}

#wpbody-content #dashboard-widgets.columns-4 .postbox-container {
	width: 25%;
}

#dashboard-widgets .postbox-container {
	width: 25%;
}

#dashboard-widgets-wrap .columns-3 #postbox-container-4 .empty-container {
	border: none !important;
}

.ie8 #wpbody-content #dashboard-widgets .postbox-container {
	width: 49.5%;
}

.ie8 #wpbody-content #dashboard-widgets #postbox-container-2,
.ie8 #wpbody-content #dashboard-widgets #postbox-container-3,
.ie8 #wpbody-content #dashboard-widgets #postbox-container-4 {
	float: right;
	width: 50.5%;
}

.ie8 #dashboard-widgets #postbox-container-3 .empty-container,
.ie8 #dashboard-widgets #postbox-container-4 .empty-container {
	border: 0 none;
	height: 0;
	min-height: 0;
}

#dashboard-widgets-wrap {
	overflow: hidden;
	margin: 0 -8px;
}

#dashboard-widgets .postbox .inside {
	margin-bottom: 0;
}

#dashboard-widgets .meta-box-sortables {
	margin: 0 8px;
	min-height: 100px;
}

/* Used only for configurable widgets. */
.dashboard-widget-control-form p {
	margin-top: 0;
}


/* Dashboard right now */

#dashboard_right_now ul {
	margin: 0;
	/* contain floats but don't use overflow: hidden */
	display: inline-block;
	width: 100%;
}

#dashboard_right_now li {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

#dashboard_right_now .inside {
	padding: 0;
}

#dashboard_right_now .main {
	padding: 0 12px 11px;
}

#dashboard_right_now .main p {
	margin: 0;
}

#dashboard_right_now #wp-version-message .button {
	float: right;
	position: relative;
	top: -5px;
	margin-left: 5px;
}

.mu-storage {
	overflow: hidden;
}

#dashboard-widgets h3.mu-storage {
	margin: 0 0 10px;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
}

/* Dashboard right now - Colors */

#dashboard_right_now .sub {
	color: #555d66;
	background: #f5f5f5;
	border-top: 1px solid #eee;
	padding: 10px 12px 6px 12px;
}

#dashboard_right_now .sub h3 {
	color: #555;
}

#dashboard_right_now .sub p {
	margin: 0 0 1em;
}

#dashboard_right_now .warning a:before,
#dashboard_right_now .warning span:before {
	color: #d54e21;
}

/* =Media Queries
-------------------------------------------------------------- */
